
<h3>Welcome {{emailId}}!</h3>
<h2 align="center">Employee List</h2>

<div align="center" class="container">
<table class="table table-hover table-striped table-sm table-bordered">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">EmpId</th>
            <th class="bg-info text-white">EmpName</th>
            <th class="bg-info text-white">Salary</th>
            <th class="bg-info text-white">Gender</th>
            <th class="bg-info text-white">DateOfJoin</th>
            <th class="bg-info text-white">Country</th>
            <th class="bg-info text-white">Email-Id</th>
            <!-- <th class="bg-info text-white">Password</th> -->
            <th class="bg-info text-white">Mobile</th>
            <th class="bg-info text-white">DeptName</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let employee of employee">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName | gender:employee.gender | uppercase}}</td>
                <td>{{employee.salary | currency:'INR'}}</td>
                <td>{{employee.gender  | lowercase}}</td>
                <td>{{employee.doj | date:'dd-MMM-yyyy'}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
                <!-- <td>{{employee.password}}</td> -->
                <td align="center">{{employee.mobile}}</td>
                <td align="center">{{employee.department.deptName}}</td>

            </tr>
        </tbody>
    </table>
</div>
    
     