
<h3>Welcome {{emailId}}!</h3>

<h1 align="center" style="text-decoration: underline;">Products</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card my-3" style="width:250px">
                <img class="card-img-top" src={{product.imgsrc}} alt="Card image" (click)="onClickProduct(product)"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 50px;">
                <div class="card-body">
                    <h4 class="card-title" align="center" style="text-decoration: underline;">{{product.pName}}</h4>
                    <p class="card-text"><b>Price: ₹{{product.price}}/-</b></p>
                    <p class="card-text">{{product.description}}</p>
                    <p align="left"><button class="btn btn-primary"  (click)="addToCart(product)">AddToCart</button> </p>
                </div>
            </div>
        </div>
    </div>
</div>