<p>Hello!!!!</p>
Id: {{id}} <br/>
Name: {{name}} <br/>
Average: {{avg}} <br/><br/><br/>

<b><u>Address</u></b><br/>
StreetNo: {{address.streetNo}}<br/>
city: {{address.city}}<br/>
State: {{address.state}}<br/><br/><br/><br/>

<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>

</ul>
